.dropdown{
  margin-top: 3px;
  position: absolute;
  right: 15%;
  width: 259px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 22px;
}

.medium-item{
  margin: 23px 0;
}

.dropdown__children_hidden{
  visibility: hidden;
  background-color: #FFFFFF;
  padding-top: 0;
  position: absolute;
  top: 96%;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
}

.age-child{
  color: #333;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
}

select{
  width: 100px;
  height: 30px;
  top:37%;
  right:53%;
}

.dropdown__added-child{
  display: flex;
  flex-direction: column;
}

.item-first{
  padding-top: 5px
}
