
:root {
  --white: #ffffff;
  --stroke-main: #f3f3f4;
  --secondary-text: #bfbfbf;
  --bg-color-main: #eaf0f9;
  --general-blue: #10367c;
  --accent-blue: #3077c6;
  --yellow: #f5bd41;
  --text-color-main: #383838;
}
